{% block head %}
<title>Image Gallery</title>
{% endblock %}

{% block body %}
    <script language="JavaScript" >
        function toggleAll(source) {
            let checkboxes = document.getElementsByName('select-object');
            for (let i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>

    <h2>Welcome to the Image Gallery</h2>
    <form method="POST" action="/delete-images" >
    <input type="checkbox" onclick="toggleAll(this)" >Select all</input>
    <input type="submit" value="Delete">
    {% for image in images %}
        <img src="https://orizabal-shopify-challenge-21.s3.ca-central-1.amazonaws.com/{{ image.key }}" style="width: 250px" >
        <label for={{ image.key }} >{{ image.key }}</label>
        <input type="checkbox" name="select-object" id={{ image.key }} value={{ image.key }} >
    {%  endfor %}
    </form>

{% endblock %}